@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}

#back-to-top svg {
    vertical-align: top;
    margin-top: 5px;
}